#mysql config
MYSQL_VERSION=5.7
MYSQL_PWD=openIM
MYSQL_3306_PORT=3306

#mongodb config
MONGO_VERSION=4.0
MONGO_PORT=27017
MONGO_ROOT_USERNAME=openIM
MONGO_ROOT_PWD=openIM

#redis config
REDIS_VERSION=latest
REDIS_PORT=6379

#zookeeper config
ZOOKEEPER_PORT=2181

#kafka config
KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092

#etcd config
ETCD_2379_PORT=2379
ETCD_2380_PORT=2380

#open-im-server config
OPEN_IM_SERVER_VERSION=latest
OPEN_IM_SDK_WS_PORT=30000
OPEN_IM_API_PORT=10000
