go 1.19

use (
	.
	./tools/changelog
	./tools/component
	./tools/formitychecker
	./tools/imctl
	./tools/infra
	./tools/ncpu
	./tools/openim-web
	./tools/url2im
	./tools/versionchecker
	./tools/yamlfmt
)
