username: ''
password: ''
addr: [ 172.28.0.1:19094 ]
latestMsgToRedis:
  topic: "latestMsgToRedis"
offlineMsgToMongo:
  topic: "offlineMsgToMongoMysql"
msgToPush:
  topic: "msgToPush"
consumerGroupID:
  msgToRedis: redis
  msgToMongo: mongo
  msgToMySql: mysql
  msgToPush: push
