#Don't put the space between "="
msg_gateway_name="open_im_msg_gateway"
msg_gateway_binary_root="../bin/"
msg_gateway_source_root="../cmd/open_im_msg_gateway/"

msg_name="open_im_msg"
msg_binary_root="../bin/"
msg_source_root="../cmd/rpc/open_im_msg/"

push_name="open_im_push"
push_binary_root="../bin/"
push_source_root="../cmd/open_im_push/"



msg_transfer_name="open_im_msg_transfer"
msg_transfer_binary_root="../bin/"
msg_transfer_source_root="../cmd/open_im_msg_transfer/"
msg_transfer_service_num=2


timer_task_name="open_im_timer_task"
timer_task_binary_root="../bin/"
timer_task_source_root="../cmd/open_im_timer_task/"

sdk_server_name="open_im_sdk_server"
sdk_server_binary_root="../bin/"
sdk_server_source_root="../cmd/Open-IM-SDK-Core/"

demo_server_name="open_im_demo"
demo_server_binary_root="../bin/"
demo_server_source_root="../cmd/open_im_demo/"


#Global configuration file default dir
config_path="../config/config.yaml"

#servicefile dir path
service_source_root=(
  #api service file
  ../cmd/open_im_api/
  ../cmd/open_im_cms_api/
  #rpc service file
  ../cmd/rpc/open_im_user/
  ../cmd/rpc/open_im_friend/
  ../cmd/rpc/open_im_group/
  ../cmd/rpc/open_im_auth/
  ../cmd/rpc/open_im_admin_cms/
  ../cmd/rpc/open_im_message_cms/
  ../cmd/rpc/open_im_statistics/
  ${msg_gateway_source_root}
  ${msg_transfer_source_root}
  ${msg_source_root}
  ${push_source_root}
  ${sdk_server_source_root}
  ${timer_task_source_root}
  ${demo_server_source_root}
)
#service filename
service_names=(
  #api service filename
  open_im_api
  open_im_cms_api
  #rpc service filename
  open_im_user
  open_im_friend
  open_im_group
  open_im_auth
  open_im_admin_cms
  open_im_message_cms
  open_im_statistics
  ${msg_gateway_name}
  ${msg_transfer_name}
  ${msg_name}
  ${push_name}
  ${sdk_server_name}
  ${timer_task_name}
  ${demo_server_name}
)




