#Don't put the space between "="
dir_name=`dirname $0`
if [ "${dir_name:0:1}" = "/" ]; then
  cur_path="`dirname $0`"
else
  cur_path="`pwd`"/"`dirname $0`"
fi

msg_gateway_name="open_im_msg_gateway"
msg_gateway_binary_root="$cur_path/../bin/"
msg_gateway_source_root="$cur_path/../cmd/open_im_msg_gateway/"

msg_name="open_im_msg"
msg_binary_root="$cur_path/../bin/"
msg_source_root="$cur_path/../cmd/rpc/open_im_msg/"

push_name="open_im_push"
push_binary_root="$cur_path/../bin/"
push_source_root="$cur_path/../cmd/open_im_push/"



msg_transfer_name="open_im_msg_transfer"
msg_transfer_binary_root="$cur_path/../bin/"
msg_transfer_source_root="$cur_path/../cmd/open_im_msg_transfer/"
msg_transfer_service_num=4


sdk_server_name="open_im_sdk_server"
sdk_server_binary_root="$cur_path/../bin/"
sdk_server_source_root="../cmd/Open-IM-SDK-Core/"

demo_server_name="open_im_demo"
demo_server_binary_root="$cur_path/../bin/"
demo_server_source_root="$cur_path/../cmd/open_im_demo/"

cron_task_name="open_im_cron_task"
cron_task_binary_root="$cur_path/../bin/"
cron_task_source_root="$cur_path/../cmd/open_im_cron_task/"


#Global configuration file default dir
config_path="$cur_path/../config/config.yaml"

#servicefile dir path
service_source_root=(
  #api service file
  $cur_path/../cmd/open_im_api/
  $cur_path/../cmd/open_im_cms_api/
  #rpc service file
  $cur_path/../cmd/rpc/open_im_user/
  $cur_path/../cmd/rpc/open_im_friend/
  $cur_path/../cmd/rpc/open_im_group/
  $cur_path/../cmd/rpc/open_im_auth/
  $cur_path/../cmd/rpc/open_im_admin_cms/
  $cur_path/../cmd/rpc/open_im_office/ 
  $cur_path/../cmd/rpc/open_im_organization/
  $cur_path/../cmd/rpc/open_im_conversation/
  $cur_path/../cmd/rpc/open_im_cache/
  $cur_path/../cmd/open_im_cron_task
  ${msg_gateway_source_root}
  ${msg_transfer_source_root}
  ${msg_source_root}
  ${push_source_root}
  ${sdk_server_source_root}
  ${demo_server_source_root}
)
#service filename
service_names=(
  #api service filename
  open_im_api
  open_im_cms_api
  #rpc service filename
  open_im_user
  open_im_friend
  open_im_group
  open_im_auth
  open_im_admin_cms
  open_im_office
  open_im_organization
  open_im_conversation
  open_im_cache
  open_im_cron_task
  ${msg_gateway_name}
  ${msg_transfer_name}
  ${msg_name}
  ${push_name}
  ${sdk_server_name}
  ${demo_server_name}
)



