#Don't put the space between "="
msg_gateway_name="openim_msg_gateway"
msg_gateway_binary_root="../bin/"
msg_gateway_source_root="../cmd/msggateway/"

msg_name="openim_msg"
msg_binary_root="../bin/"
msg_source_root="../cmd/rpc/msg/"

push_name="openim_push"
push_binary_root="../bin/"
push_source_root="../cmd/push/"



msg_transfer_name="openim_msg_transfer"
msg_transfer_binary_root="../bin/"
msg_transfer_source_root="../cmd/msgtransfer/"
msg_transfer_service_num=4


sdk_server_name="openim_sdk_server"
sdk_server_binary_root="../bin/"
sdk_server_source_root="../cmd/Open-IM-SDK-Core/"


cron_task_name="openim_cron_task"
cron_task_binary_root="../bin/"
cron_task_source_root="../cmd/crontask/"


cmd_utils_name="openim_cmd_utils"
cmd_utils_binary_root="../bin/"
cmd_utils_source_root="../cmd/cmduitls/"

#Global configuration file default dir
config_path="../config/config.yaml"

#servicefile dir path
service_source_root=(
  #api service file
  ../cmd/api/
  #rpc service file
  ../cmd/rpc/user/
  ../cmd/rpc/friend/
  ../cmd/rpc/group/
  ../cmd/rpc/auth/
  ../cmd/rpc/conversation/
  ../cmd/rpc/third/
  ../cmd/crontask
  ${msg_gateway_source_root}
  ${msg_transfer_source_root}
  ${msg_source_root}
  ${push_source_root}
  # ${sdk_server_source_root}
)
#service filename
service_names=(
  #api service filename
  openim_api
  #rpc service filename
  openim_user
  openim_friend
  openim_group
  openim_auth
  openim_conversation
  openim_third
  openim_cron_task
  ${msg_gateway_name}
  ${msg_transfer_name}
  ${msg_name}
  ${push_name}
  # ${sdk_server_name}
)

image_names=(
  #api service file
  api
  #rpc service file
  user
  friend
  group
  auth
  conversation
  third
  cron_task
  msg_gateway
  msg_transfer
  msg
  push
  # sdk_server
)
