# ======================================
# ========= Basic Configuration ========
# ======================================

# Authentication and system operations user (Defaults to root).
USER=${USER}

# Password associated with the user for authentication (Defaults to openIM123).
PASSWORD=${PASSWORD}

# MinIO object storage service endpoint (Defaults to http://172.28.0.1:10005).
MINIO_ENDPOINT=${MINIO_ENDPOINT}

# Base URL for the API (Defaults to http://172.28.0.1:10002).
API_URL=${API_URL}

# Directory path for data files or related information (Defaults to ./).
DATA_DIR=${DATA_DIR}

# Choose the image registry (e.g., ghcr.io/openimsdk, openim, or registry.cn-hangzhou.aliyuncs.com/openimsdk).
IMAGE_REGISTRY=${IMAGE_REGISTRY}

# Network Configuration
# Subnet for the Docker network (Defaults to 172.28.0.0/16).
DOCKER_BRIDGE_SUBNET=${DOCKER_BRIDGE_SUBNET}

# Gateway for the Docker network (Defaults to 172.28.0.1).
DOCKER_BRIDGE_GATEWAY=${DOCKER_BRIDGE_GATEWAY}

# Addresses for various network services
MYSQL_NETWORK_ADDRESS=${MYSQL_NETWORK_ADDRESS}
MONGO_NETWORK_ADDRESS=${MONGO_NETWORK_ADDRESS}
REDIS_NETWORK_ADDRESS=${REDIS_NETWORK_ADDRESS}
KAFKA_NETWORK_ADDRESS=${KAFKA_NETWORK_ADDRESS}
ZOOKEEPER_NETWORK_ADDRESS=${ZOOKEEPER_NETWORK_ADDRESS}
MINIO_NETWORK_ADDRESS=${MINIO_NETWORK_ADDRESS}
OPENIM_WEB_NETWORK_ADDRESS=${OPENIM_WEB_NETWORK_ADDRESS}
OPENIM_SERVER_NETWORK_ADDRESS=${OPENIM_SERVER_NETWORK_ADDRESS}
OPENIM_CHAT_NETWORK_ADDRESS=${OPENIM_CHAT_NETWORK_ADDRESS}
PROMETHEUS_NETWORK_ADDRESS=${PROMETHEUS_NETWORK_ADDRESS}
GRAFANA_NETWORK_ADDRESS=${GRAFANA_NETWORK_ADDRESS}

# Component Extension Configuration
# ZooKeeper Configuration
ZOOKEEPER_ADDRESS=${ZOOKEEPER_NETWORK_ADDRESS}
ZOOKEEPER_PORT=${ZOOKEEPER_PORT}

# MySQL Configuration
MYSQL_ADDRESS=${MYSQL_NETWORK_ADDRESS}
MYSQL_PORT=${MYSQL_PORT}
MYSQL_PASSWORD=${MYSQL_PASSWORD}

# MongoDB Configuration
MONGO_ADDRESS=${MONGO_NETWORK_ADDRESS}
MONGO_PORT=${MONGO_PORT}
MONGO_USERNAME=${MONGO_USERNAME}
MONGO_PASSWORD=${MONGO_PASSWORD}
MONGO_DATABASE=${MONGO_DATABASE}

# Redis Configuration
REDIS_ADDRESS=${REDIS_NETWORK_ADDRESS}
REDIS_PORT=${REDIS_PORT}
REDIS_PASSWORD=${REDIS_PASSWORD}

# Kafka Configuration
KAFKA_ADDRESS=${KAFKA_NETWORK_ADDRESS}
KAFKA_PORT=${KAFKA_PORT}
KAFKA_LATESTMSG_REDIS_TOPIC=${KAFKA_LATESTMSG_REDIS_TOPIC}
KAFKA_MSG_PUSH_TOPIC=${KAFKA_MSG_PUSH_TOPIC}
KAFKA_OFFLINEMSG_MONGO_TOPIC=${KAFKA_OFFLINEMSG_MONGO_TOPIC}

# MinIO Configuration
MINIO_ADDRESS=${MINIO_NETWORK_ADDRESS}
MINIO_PORT=${MINIO_PORT}
MINIO_ACCESS_KEY=${MINIO_ACCESS_KEY}
MINIO_SECRET_KEY=${MINIO_SECRET_KEY}

# Prometheus Configuration
PROMETHEUS_ADDRESS=${PROMETHEUS_NETWORK_ADDRESS}
PROMETHEUS_PORT=${PROMETHEUS_PORT}

# Grafana Configuration
GRAFANA_ADDRESS=${GRAFANA_NETWORK_ADDRESS}
GRAFANA_PORT=${GRAFANA_PORT}

# OpenIM Web Configuration
OPENIM_WEB_DIST_PATH=${OPENIM_WEB_DIST_PATH}
OPENIM_WEB_PORT=${OPENIM_WEB_PORT}
OPENIM_WEB_ADDRESS=${OPENIM_WEB_NETWORK_ADDRESS}

# OpenIM Server Configuration
OPENIM_SERVER_ADDRESS=${OPENIM_SERVER_NETWORK_ADDRESS}
OPENIM_WS_PORT=${OPENIM_WS_PORT}
API_OPENIM_PORT=${API_OPENIM_PORT}

# OpenIM Chat Configuration
CHAT_BRANCH=${CHAT_BRANCH}
OPENIM_CHAT_ADDRESS=${OPENIM_CHAT_NETWORK_ADDRESS}
OPENIM_CHAT_API_PORT=${OPENIM_CHAT_API_PORT}
OPENIM_CHAT_DATA_DIR=${OPENIM_CHAT_DATA_DIR}

# OpenIM Admin Configuration
SERVER_BRANCH=${SERVER_BRANCH}
OPENIM_ADMIN_API_PORT=${OPENIM_ADMIN_API_PORT}
