name: Check-Coverage


on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths-ignore:
      - "docs/**"
      - "**/*.md"
      - "**/*.yaml"
      - "CONTRIBUTORS"
      - "CHANGELOG/**"
  pull_request:
    branches: [ "*" ]
    paths-ignore:
      - "docs/**"
      - "**/*.md"
      - "**/*.yaml"
      - "CONTRIBUTORS"
      - "CHANGELOG/**"
env:
  # Common versions
  GO_VERSION: "1.20"

jobs:
  coverage:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Golang with cache
        uses: magnetikonline/action-golang-cache@v3
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Install Dependencies
        run: sudo apt update && sudo apt install -y libgpgme-dev libbtrfs-dev libdevmapper-dev

      - name: Run Coverage
        run: make coverage

      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v3
